[Desktop Entry]
Version=1.0
Name=Animaleconomy 
Comment=Animaleconomy P2P Cryptocurrency
Comment[fr]=Animaleconomy, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Animaleconomy, eşten eşe kriptografik sanal para birimi
Exec=aney-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/aney;
Categories=Office;Finance;
StartupWMClass=aney-qt
